{% extends 'base_generic.html' %}

{% block title %}
    <title>{{ app['name'] }}</title>
{% endblock %}

{% block content %}

    {% if error %}
        <p>This username is reserved yet. Please, input another one.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
        {% else %}
            <p>Please. login to see this page.</p>
        {% endif %}
    {% endif %}
    <h2>Please login or sign up</h2><br>
    <h4>Login form</h4>
    <form method="post" action="/login" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <table>
            <tr>
                <td><label for="api_key">API key</label></td>
                <td><input id="api_key" name="api_key" type="text" value="" autofocus/></td>
            </tr>
        </table>
        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    <br><br>
    <h4>Sign up form</h4>
    <form method="post" action="/login" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <table>
            <tr>
                <td><label for="username">Name</label></td>
                <td><input id="username" name="username" type="text" value="" autofocus/></td>
            </tr>
        </table>
        <input type="submit" value="sign up">
        <input type="hidden" name="next" value="{{ next }}">
    </form>

{% endblock %}