{% extends 'base_generic.html' %}

{% block content %}

    <h2>Albums of user: {{ user }}</h2>
    <br><br>

    <br><br>
    <div style="margin-left:20px; margin-top:20px">
        {% if albums %}
            {% for album in albums %}
                <a href="/album/{{ album.title }}">{{ album.title }}</a>
                <form method="post" action="/albums" enctype="application/x-www-form-urlencoded">
                    <input style="background:white; color:black; border: 0" name="delete" type="text" value="{{ album.id }}" hidden>
                    <button type="submit">Delete track</button>
                </form>
                <br>
            {% endfor %}
        {% else %}
            <p>There are no one track.</p>
        {% endif %}
    </div>

{% endblock %}